<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhu.acp.mapper.DiscussMapper">

    <resultMap id="BaseResultMap" type="com.pzhu.acp.model.entity.Discuss">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uid" column="uid" jdbcType="BIGINT"/>
        <result property="tid" column="tid" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
        <result property="up" column="up" jdbcType="INTEGER"/>
        <result property="down" column="down" jdbcType="INTEGER"/>
        <result property="isAudit" column="is_audit" jdbcType="TINYINT"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,tid,
        title,message,cover,
        up,down,is_delete,is_audit,
        create_time,update_time
    </sql>

    <resultMap id="GetDiscussVOMap" type="com.pzhu.acp.model.vo.DiscussVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uid" column="uid" jdbcType="BIGINT"/>
        <result property="tid" column="tid" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
        <result property="up" column="up" jdbcType="INTEGER"/>
        <result property="down" column="down" jdbcType="INTEGER"/>
        <result property="isAudit" column="is_audit" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <association property="userInfo" column="uid" select="com.pzhu.acp.mapper.UserMapper.selectUserById"/>
        <association property="tagName" column="tid" select="com.pzhu.acp.mapper.TagMapper.selectTagById"/>
    </resultMap>

    <select id="selectDiscussByPageOrParam"
            parameterType="com.pzhu.acp.model.query.GetDiscussByPageQuery"
            resultMap="GetDiscussVOMap">
        select id,
        uid,
        tid,
        title,
        message,
        cover,
        up,
        down,
        is_audit,
        create_time
        from discuss
        <where>
            is_delete = 0
            <if test="query.title != null">
                and title like concat('%',#{query.title,jdbcType=VARCHAR},'%')
            </if>
            <if test="query.sortType == null">
                order by create_time desc
            </if>
            <if test="query.sortType == 1">
                order by create_time desc
            </if>
            <if test="query.sortType == 2">
                order by create_time desc
            </if>
        </where>
    </select>

</mapper>
