<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhu.acp.mapper.RegionMapper">

    <resultMap id="BaseResultMap" type="com.pzhu.acp.model.entity.Region">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="BIGINT"/>
        <result property="label" column="label" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="levelId" column="level_id" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,label,
        parent_id,level_id,is_delete,
        create_time,update_time
    </sql>

    <select id="selectRegionById"
            parameterType="java.lang.Long"
            resultType="java.lang.String">
        select
        label
        from region
        where
        id = #{id,jdbcType=BIGINT}
        and
        is_delete = 0
    </select>
</mapper>
