<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhu.acp.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.pzhu.acp.model.entity.Role">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleValue" column="role_value" jdbcType="CHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,role_value,
        is_delete,create_time,update_time
    </sql>

    <select id="selectRoleNameByUserId"
            parameterType="java.lang.Long"
            resultType="java.lang.String">
        select role_name
        from role
        where id =
              #{roleId}
    </select>
</mapper>
